<div class="ui container">
  <div class="ui secondary pointing menu">
    <a
      routerLink="/home"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="item"
      >Home</a
    >
    <a
      routerLink="/collections"
      class="item"
      routerLinkActive="active"
      >Collections
    </a>
    <a
      routerLink="/elements"
      class="item"
      routerLinkActive="active"
      >Elements
    </a>
    <a
      routerLink="/views"
      class="item"
      routerLinkActive="active"
      >Views
    </a>
    <a
      routerLink="/mods"
      class="item"
      routerLinkActive="active"
      >mods
    </a>
  </div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>
</div>
